// Colors
$c-font =               #080A0C
$c-bg =                 #346C7D
$c-bg--dark =           #084C61
$c-container =          #EFF6F6
$c-grey =               #4F6D7A
$c-grey--dark =         #2C3C43
$c-alert =              #DB504A
$c-attention =          #E3B505
$c-focus =              #56A3A6

// Fonts
$f-text = "Tahoma", sans-serif
$f-code = "Courier New", monospace